
   

<app-profileheader></app-profileheader>



<section class="notificationsContainer">
  <div class="innerWrap">
    <div class="innerPadding">
      <div class="wrap">
        <div class="row">


          <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 notificationsWrapper">

            <div class="postWrapper">

     <div *ngIf = "paginationresult_count == -5">No Bio View yet</div>

                <div class="profileInfo" *ngFor="let data of data">
                            <div class="flexboxwrap">
                                   <div class="editImg" >
                                        <a routerLink="/view_profile/{{data.userid}}" target="_blank"><img src="{{media_url}}/uploads/images/{{data.logo}}"></a>
                                         <p class="vieweProfile"><a routerLink="/view_profile/{{data.userid}}" target="_blank"><b>{{data.name}}</b></a></p>
                                    </div>

                                <div class="rightSection">
                                      <div class="editUpload">
                                         <p>{{data.created_date}}</p>
                                        </div>
                                     <!--  <div class="imgContent">
                                        <img src="./assets/images/notification-drop-icon.png" (click)="toggle()">
                                      </div> -->
                                     </div>
                            </div>
                </div>
                <!-- END PROFILE INFO -->
               
            
              </div>
            <!-- /END OF POST WRAPPER/ -->
            <br>

    <div class="viewMoreBtn">
                <button  class="viewbtn" (click)="loadMore()" *ngIf="paginationresult_count > 0">View ({{paginationresult_count}}) more</button>
              </div>

          </div>

          

        </div>
      </div>
    </div>
   </div>
</section>

