<footer>
  <div class="innerWrap">
    <div class="wrap">
      <div class="footerContent">
        <div class="flexWrap">
          <div class="leftContent">
            <h5>How can we help? <br> 
<!-- routerLink="/contact-us" -->
             <a routerLink="/contact-us"> <span >Contact us</span></a> anytime.</h5>
          </div>
          <div class="rightContent">
            <div class="whiteBox">
              <ul>
               <!--  <li>
                  <small>Write us on</small>
                  <p><a href="mailto:info@qualifyed.com">info@qualifyed.com</a></p>
                </li> -->
                <li>
                  <small>Visit our</small>
                  <p><a routerLink="/help-center">Help center  <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /END OF FLEXWRAP/ -->
        <div class="bottomMenu">
          <div class="flexWrapper">
             <div class="copyright">
                <p>Copyright © 2019  QUALIFYED. All Rights Reserved</p>
            </div>
            <div class="footMenu">
              <ul>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/user-agreement">User Agreement</a></li>
                <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER -->