<div id="cover-spin" *ngIf="showLoader == true"></div>
<body class="innerBg">
    <section class="reset-password">
      <div class="innerWrap">
         <div class="wrap">
           <div class="row">
             <div class="itemBlog">
                <div class="logoBlog">
                  <a routerLink="/"><img src="assets/images/logo.png"></a>
                 </div>  
                <h3>Reset your password</h3>
              <form [formGroup] = "resetForm" (ngSubmit)=onSubmit()>
                <input type="hidden" formControlName="id">
                <div class="floating-form">
                         <div class="form-group">
                            <!-- <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false"> -->
                              <input type="password" id="passwordField" formControlName="password" class="form-control" 
                             [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                             <label class="form-control-placeholder" for="password">PASSWORD</label>
                             <!-- </show-hide-password> -->

                                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div> 
                            
                         </div>
                          <!--END OF FORM-GROUP -->
                         <div class="form-group">
                          <!-- <show-hide-password size="lg" btnStyle="primary" [btnOutline]="false"> -->
                              <input type="password" id="passwordField2" formControlName="cpassword" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }">
                               <!-- </show-hide-password> -->
                             <label class="form-control-placeholder" for="password">CONFIRM PASSWORD</label>

                            <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>

                                       <div *ngIf="f.cpassword.errors.mustMatch">Confirm Passwords and Password Should Be Same</div>
                                    </div>
                         </div>

                          <!--END OF FORM-GROUP -->
                         <div class="reset-btn">
                              <a class="">  
                                 <span>
                                    <button type="submit" class="btnBlog"> Reset Password
                                   </button>
                                 </span>
                              </a>
                         </div>
                  </div>
                </form>
               </div>
             <!--END OF ITEMBLOG --> 
            </div>
          <!--END OF ROW -->
         </div>
        <!--END OF WRAP -->
         <div class="bg-student">
            <img class="" src="assets/images/login-user-mg.png">
        </div>
      </div> 
       <!--END OF INNERWRAP -->
     </section>
    <!--END OF SECTION -->
</body>
