<div id="loder_main" *ngIf="showLoader == true"><div id="loader_view" ></div></div>
<app-header></app-header>
<section class="profileTophead bussiness_profile_test">
<div class="bg-wrap">
  <div class="wrap">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="flexWrapper">
          <div class="profileLogo" *ngIf="file_status == false">
            <img *ngFor="let name of nameData ; let i=index;" src="{{media_url}}/uploads/images/avatar.png">
          </div>
          <div class="profileLogo" *ngIf="file_status == true">
            <img *ngFor="let name of nameData ; let i=index;" src="{{media_url}}/uploads/images/{{name.profile_pic_name}}">
          </div>
          <div class="profiledetail">
            <p class="name" *ngFor="let name of nameData ; let i=index;">{{name.name}}</p>
            <button routerLink="/bussiness/edit-bussinessprofile" >Edit Profile</button>
            <div class="icoBox">
              <ul>
                <li><a (click)="videoPop()"><abbr title="Video Bio"><img src="assets/images/cam.png"></abbr></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <div class="top-controller">
        <ul>
          <a routerLink="/shared/viewuserconnection"><li>
            <p class="txtBlue">{{connection_count}}</p>
            <p>Connections</p>
          </li></a>
          
          <a routerLink="/shared/profileview">
            <li>
              <p class="txtBlue">{{profileview_count}}</p>
              <p>Profile Views</p>
            </li>
          </a>
          <a routerLink="/shared/bioview">
            <li>
              <p class="txtBlue">{{bio_video_view_count}}</p>
              <p>Video Bio Views</p>
            </li>
          </a>
          <a routerLink="/shared/interview-req">
            <li>
              <p class="txtBlue">{{interReq}}</p>
              <p>Interviews</p>
            </li>
          </a>
          
        </ul>
      </div>
      </div>
    </div>
    <!-- /END OF ROW/ -->
  </div>
  <!-- /END OF WRAP/ -->
</div>
<!-- /END OF BG WRAP/ -->
</section>
<section class="businessInfoContainer">
<div class="innerWrap">
  <div class="innerPadding">
    <div class="wrap">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
          
          <!-- /END OF ICO BOX/ -->
          <div class="infoContent" *ngFor="let data of nameData ; let i=index;" >
            <h5 class="txtBlue"><i class="fa fa-file-text" aria-hidden="true"></i>  Bio</h5>
            <p>{{data.description}}</p>
            <h5 class="txtBlue"><i class="fa fa-book"></i> Additional Information</h5>
            <ul class="allDetailList" >
              <li *ngIf="data.website != ''"><i class="fa fa-globe" aria-hidden="true"></i> <span>Website:</span> &nbsp;<a href="{{new_url_website_link}}" target="_blank">{{data.website}}</a> </li>
              <li *ngIf="data.website == ''"><i class="fa fa-globe" aria-hidden="true"></i> <span>Website:</span> &nbsp;No Record Found </li>
              <li *ngIf="data.industry_name != null"><i class="fas fa-building"></i> <span>Industry:</span> {{data.industry_name}} </li>
              <li *ngIf="data.industry_name == null"><i class="fas fa-building"></i> <span>Industry:</span> No Record Found </li>
              <li *ngIf="data.company_size != null "><i class="fa fa-users" aria-hidden="true"></i> <span>Company Size:</span> {{data.company_size}} &nbsp;employees</li>
              <li *ngIf="data.company_size == null "><i class="fa fa-users" aria-hidden="true"></i> <span>Company Size:</span> No Record Found</li>
              <li *ngIf="data.location != ''"><i class="fas fa-city"></i> <span>Headquarters:</span>  {{data.location}} </li>
              <li *ngIf="data.location == ''"><i class="fas fa-city"></i> <span>Headquarters:</span>  No Record Found </li>
              <li *ngIf="data.company_type != null"><i class="fas fa-id-card"></i> <span>Type:</span> {{data.company_type}} </li>
              <li *ngIf="data.company_type == null"><i class="fas fa-id-card"></i> <span>Type:</span> No Record Found </li>
              <li *ngIf="data.date != 'NaN-NaN-NaN'"><i class="fas fa-file-archive"></i> <span>Founded:</span> {{data.date}} </li>
              <li *ngIf="data.date == 'NaN-NaN-NaN'"><i class="fas fa-file-archive"></i> <span>Founded:</span> No Record Found </li>
            </ul>
          </div>
          <!-- /END OF INFO CONTENT/ -->
          <div class="personalInfobox">
            <div class="contentWrap">
              <h5 class="txtBlue"><i class="fas fa-user-circle"></i> Personal Information</h5>
              <ul *ngFor="let data1 of nameData ; let i=index;">
                <li><i class="fas fa-building"></i> <span>City:</span> {{data1.city}} </li>
                <li><i class="fas fa-industry"></i> <span>State:</span> {{data1.state_name}} </li>
                <li><i class="fas fa-map-pin"></i> <span>Zip Code:</span> {{data1.zipcode}} </li>
                <li><i class="fa fa-map-signs" aria-hidden="true"></i>  <span>Address:</span> {{data1.addressline1}}, {{data1.addressline2}} </li>
                <li><i class="fas fa-envelope-open"></i> <span>Email:</span> {{data1.email}} </li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> <span>Phone:</span> {{data1.phone}} </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="createPostBox">
            <div class="Contentwrapper">
              <!-- <p class="heading">Create a post</p> -->
              <div class="profileimgBox">
                <div class="flexboxwrap" *ngIf="file_status == false" >
                  <img class="circleBox"  src="{{media_url}}/uploads/images/avatar.png">
                  <!--   <div class="circleBox"></div> -->
                  <div class="label">What’s on your mind?</div>
                </div>
                <div class="flexboxwrap" *ngIf="file_status == true">
                  <img class="circleBox" *ngFor="let name of nameData ; let i=index;" src="{{media_url}}/uploads/images/{{name.profile_pic_name}}">
                  <!--   <div class="circleBox"></div> -->
                  <div class="label">What’s on your mind?</div>
                </div>
                <!-- /END OF FLEXBOX WRAP/ (clickElsewhere)="closeModalFunction()" (clickOff)="closeModalFunction()"-->
                <div class="inputController" >
                  <a (click)="myFunction()" class="sharePost" href="javascript:void(0)">Create a post <i class="fa fa-plus-square"></i></a>
                </div>
                <!-- /END OF INPUT CONTROLLER/ -->
                <div class="inputSubmitter">
                  <div class="flexwrap">
                  </div>
                </div>
              </div>
              <!-- /END OF PROFILE IMG BOX/ -->
            </div>
            <!-- /END OF CONTENT WRAPPER/ -->
          </div>
          <!-- /END OF CREATE POST/ -->
          <div class="postWrapper" *ngFor="let name of postData ; let i = index;" id="post_{{i}}">
            <div class="postHead">
              <ul>
                <li>
                  <div class="inlineFlexBox" *ngIf="! name.userDisplayData">
                    <img class="logoImg " *ngIf="file_status == false"  src="{{media_url}}/uploads/images/avatar.png">
                    <img class="logoImg"  *ngIf="file_status == true" src="{{media_url}}/uploads/images/{{BusData.profile_pic_name}}">
                    <div class="title" >
                      <p class="userTitle">{{BusData.name}}</p>
                      <p class="subHead">{{BusData.industry_name}} · {{BusData.addressline1}}, {{BusData.addressline2}}</p>
                    </div>
                  </div>
                  <div class="inlineFlexBox" *ngIf="name.userDisplayData">
                    <img class="logoImg " *ngIf="file_status == false"  src="{{media_url}}/uploads/images/avatar.png">
                    <img class="logoImg" *ngIf="file_status == true" src="{{media_url}}/uploads/images/{{name.userDisplayData.profile_picture}}">
                    <div class="title" >
                      <a class="userTitle" (click)="go_profile(name.user_login_id)">{{name.userDisplayData.user_name}}</a>
                      <p class="subHead">{{name.userDisplayData.first_display}} · {{name.userDisplayData.country_name}}, {{name.userDisplayData.state_name}}</p>
                    </div>
                  </div>
                </li>
                <li class="postTime">
                  <p>{{name.created_date}} &nbsp;&nbsp;<i (click)="showAction(i)" (clickElsewhere)="close(i)" class="fa fa-ellipsis-v"  ></i></p>
                  <div id="action_{{i}}"  class="displayNone edit_drop">
                    <i  *ngIf="showBtn1 != i && login_id == name.user_login_id" class='fas fa-pencil-alt' (click)="option8(i);showAction(i)" style="width: 100%; background: #fff; border-bottom: 1px solid #ddd; padding: 7px;"> Edit </i>
                    <i  *ngIf="showBtn1 === i && login_id == name.user_login_id"  class='fas fa-pencil-alt' (click)="close8(i);showAction(i)" style="width: 100%; background: #fff; border-bottom: 1px solid #ddd; padding: 7px;"> Edit </i>
                    <i *ngIf="login_id == name.user_login_id" class="fas fa-trash-alt" style="width: 100%; background: #fff; padding: 7px;" (click)="deletePost(name.id, i)"> Delete </i>
                    <i *ngIf="login_id != name.user_login_id" class="fa fa-flag" aria-hidden="true" ><a (click)="reportAbouse(name.id,3)">Report Abuse</a></i>
                  </div>
                </li>
              </ul>
            </div>
            
            <!-- /END OF POST HEAD/ -->
            <div class="postContent">
              <p *ngIf="name.opp_id == 0 || name.parent_id !=0" [innerHTML]="name.post"></p>
                  <p *ngIf="name.opp_id != 0 && name.parent_id ==0" >I'm looking for {{name.post}} <a class="pull-right" routerLink="/opportunities_detail/{{name.opp_id}}">...see more</a></p>      
                               <div *ngIf="name.parent_data">
                <div class="postContent replied_post">
                  <div class="inlineFlexBox">
                    <img class="logoImg" src="{{media_url}}/uploads/images/{{name.parent_data.p_profile}}">
                    <div class="title">
                      <p class="userTitle">{{name.parent_data.p_user_name}}</p>
                      <p class="subHead">Posted on :{{name.parent_data.p_created | date}}</p>
                    </div>
                  </div>
<p *ngIf="name.parent_data.opp_id == 0">{{name.parent_data.p_post}}</p>
                      <p *ngIf="name.parent_data.opp_id != 0" >I'm looking for {{name.parent_data.p_post}} <a class="pull-right" routerLink="/opportunities_detail/{{name.parent_data.opp_id}}">...see more</a></p>                  <div class="postImg" *ngIf="name.parent_data.type == 1 && name.parent_data.picname != '' && name.parent_data.p_media != '' " > <img src="{{media_url}}/createpost/images/{{name.parent_data.picname}}" >
                  </div>
                  <div *ngIf="name.parent_data.type == 2 && name.parent_data.picname != '' && name.parent_data.p_media != '' ">
                    <video width="100%" height="240" controls>
                      <source src="{{media_url}}/createpost/video/{{name.parent_data.picname}}" type="video/mp4">
                    </video>
                  </div>
                </div>
              </div>
              <div class="postImg" *ngIf="name.type == 1 && name.picname != '' && name.media_id != '' " > <img src="{{media_url}}/createpost/images/{{name.picname}}" >
              </div>
              <div *ngIf="name.type == 2 && name.picname != '' && name.media_id != '' ">
                <video width="100%" height="240" controls>
                  <source src="{{media_url}}/createpost/video/{{name.picname}}" type="video/mp4">
                </video>
              </div>
              <div *ngIf="name.type == 3 && name.picname != '' && name.media_id != '' ">
                Document
              </div>
              <br>
              <div [attr.id]="'undoBtn'+i" *ngIf="showBtn1===i">
                <form [formGroup]="createPost1" (ngSubmit)="onSubmitPost1(i)">
                  <div class="textareaPopup" id="hideEdit">
                    <input type="hidden" formControlName="id">
                    <textarea rows="5" cols="65" formControlName="postName" name="your-message" id="textMe" class="full-name" aria-invalid="false" placeholder="What do you want to talk about ?">{{name.post}}</textarea>
                    <div class="post-btn">
                      <span class="postBtn" (click)="closeFun1()" >Cancel</span>
                      <button class="postBtn"  >Save</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- uploaded image -->
              <div class="actionElements" >
                <ul>
                  <li>
                    <span>
                      <i style="cursor: pointer;" (click)="likefunction(name.id,$event.target,i,name.user_login_id);likeNotification(name.user_login_id,$event.target)" class="{{ name.like_status == true ? 'fas fa-heart' : 'far fa-heart'}}"></i>
                    </span>
                    <span id="C_{{i}}">&nbsp;{{name.count}} &nbsp;</span>
                  </li>
                  <li  class="showToggle" style="cursor: pointer;" (click)="showToggleV2(name.id,i)">
                    <span><i class="fab fa-rocketchat"></i></span>
                    <span >&nbsp;{{name.comment_count_post}} &nbsp;</span>
                  </li>
                  <li>
                    <span (click)="myFunction2(name.id)" *ngIf="name.parent_id ==0 &&name.parent_data && name.post != '' && name.post != null && name.post != undefined "><i class="fas fa-share-square"></i></span>
                    <span (click)="myFunction2(name.id)"><i class="fas fa-share-square" *ngIf="! name.parent_data"></i></span>
                    
                  </li>
                </ul>
              </div>
              
            </div>
            <!-- /END OF POST CONTENT/ -->
            <!--           <div style="display: none;" class="{{name.id}}">
              -->
              <!-- <div  *ngIf="show == 1" class="{{name.id}}"> -->
              <div  id="commentOpener_{{i}}" class="displayNone commentboxCustomDevClass">
                <form [formGroup]="commentForm" (ngSubmit)="Comment(name.id,i)">
                  <div class="commentBox">
                    <div class="inputController comment_upload_con" >
                      <textarea (keypress)="show_comment_post_btnn()" formControlName="comment" placeholder="Add comment"></textarea>
                      <div class="icoBox">
                        <ul>
                          <li>
                            <div class="fileUpload">
                              <input accept="image/*" (change)="image_upload_comment($event,i)" class="file_multi_image file_multi_image_comment" formcontrolname="postImage" name="" type="file">
                              <img src="assets/images/camera.png">
                            </div>
                          </li>
                          <li>
                            <div class="fileUpload videoUpload">
                              <input accept=".HEVC,H.264,.MPEG-4,.m4v,.mov,video/*" class="file_multi_video file_multi_video_comment" (change)="video_upload_comment($event,i)" formcontrolname="postVideo" name="" type="file">
                              <img  src="assets/images/video.png">
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="imgUploadContainer displayNone" id="commentOpener1_comment{{i}}" style="width: 50%;">
                        <!--*ngIf="showNotification"  -->
                        <div   class="image_scroll" ><img id="blah" [src]="imageSrc" alt="your image"></div>
                        <img class="thumb-ico" src="assets/images/close.svg" style=""   (click)="onCloseClick()" title="Remove image">
                        <!-- <div *ngIf="hasImage == 1" class="edit_file">
                          <input type="file" id="postImage"  name="file[]" (change)="image()" class="file_multi_image thumb-input flIcon" accept="image/*" title="Change image" formControlName="postImage" style=""  *ngIf="hasImage == 1">
                        </div> -->
                        
                      </div>
                      <div class="imgUploadContainer displayNone" id="commentOpener1_comment_video{{i}}" style="width: 50%;">
                        
                        <img class="thumb-ico" src="assets/images/close.svg"  style=""  (click)="onCloseClick()" title="Remove video" >
                        <div *ngIf=" hasVideo ==1" class="edit_file">
                          <input   type="file" id="postVideo" accept='video/*' name="file[]" (change)="video()" class="file_multi_video thumb-input flIcon"   *ngIf=" hasVideo ==1"  formControlName="postVideo"    name="" style="" title="Change video">
                        </div>
                        <video width="400" controls>
                          <source src="" id="video_here_video{{i}}">
                          Your browser does not support HTML5 video.
                        </video>
                      </div>
                    </div>
                    <div class="inputSubmitter">
                      <button type="submit"  (click)="comment_notification(name.user_login_id)" class="viewbt button_style_01"><span>Post</span></button>
                    </div>
                    <!-- <p  *ngFor="let comments of allcomment;">{{comments.comment}}</p> -->
                    <div *ngFor="let comments of allcomment;let j = index;" class="{{name.id}}">
                      <div class="shwComments">
                        <div class="commentItems">
                          <div class="userThumb ">
                            <img class="logoImg " *ngIf="file_status == false"  src="{{media_url}}/uploads/images/avatar.png">
                            <img class="logoImg" *ngIf="file_status == true" src="{{media_url}}/uploads/images/{{comments.profile_pic}}" >
                          </div>
                          <div class="flexWrapper">
                            
                            <div class="userDetail">
                              <p class="name" >{{comments.name}}</p>
                              <p class="postedComments" >{{comments.comment}}</p>
                              <div *ngIf="comments.media_id != 0 && comments.video_name == null " class="bussiness_upload_img_comment">
                                <img *ngIf="comments.media_id != 0 && comments.video_name == null " src="{{media_url}}/createpost/images/{{comments.image_name}}"  alt="">
                              </div>
                              <div *ngIf="comments.media_id != 0 && comments.image_name == null " class="bussiness_upload_vid_comment">
                                <video *ngIf="comments.media_id != 0 && comments.image_name == null " width="340" controls>
                                  <source src="{{media_url}}/createpost/video/{{comments.video_name}}" >
                                </video>
                              </div>
                            </div>
                            <div class="commentDetails">
                              <div class="innerwrap">
                                <span class="timeClass" *ngIf="comments.entity_id == name.id">{{comments.created_date}}</span>
                                <span *ngIf="login_id != comments.user_login_id" class="reportUser" (click)="reportFunction(j) "><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                              </div>
                            </div>
                            <div  class="reportDropdown displayNone" id="commentOpener1_{{j}}" >
                              <ul>
                                <li ><a (click)="reportAbouse(comments.id,4)"><i class="fa fa-flag" aria-hidden="true"></i> Report Abuse</a></li>
                                <!-- <li><a href=""><i class="fa fa-link" aria-hidden="true"></i> Copy link to Comment</a></li> -->
                              </ul>
                            </div>
                          </div>
                          
                        </div>
                        <div class="postContent">
                          <div class="comment_like_contain">
                            <span>
                              <i style="cursor: pointer;" (click)="likeOnComment($event.target,comments.id,name.id, j);like_reply_noti(comments.user_login_id,$event.target)" class="{{comments.saved_status == 1 ? 'fas fa-heart' : 'far fa-heart'}}"></i>
                            </span>
                            <span >&nbsp;{{comments.comment_count}} &nbsp;</span>
                            <a (click)="showCommOnComm(i,j, comments.subcoment_count)"><i class="fa fa-comment"></i> {{comments.subcoment_count}}</a>
                          </div>
                        </div>
                        <div class="reply_on_comment">
                          <div class="comment_send_sectoin comentReplyClass displayNone" id="commentReply{{i}}{{j}}">
                            
                            <div  class="commentItems" *ngFor="let s of comments.subcoment;let i=index;">
                              <div class="userThumb " >
                                <img class="logoImg " *ngIf="file_status == false"  src="{{media_url}}/uploads/images/avatar.png">
                                <img class="logoImg" *ngIf="file_status == true" src="{{media_url}}/uploads/images/{{s.profile_pic}}" >
                              </div>
                              <div class="flexWrapper" >
                                
                                <div class="userDetail" >
                                  <p class="name" style="width: 150px;">{{s.name}}</p>
                                  
                                </div>
                                <div class="commentDetails">
                                  <div class="innerwrap">
                                    <span class="timeClass" >{{s.created_date}}</span>
                                  </div>
                                </div>
                                <p class="postedComments" >{{s.comment}}</p>
                              </div>
                            </div>
                            <div class="moreBtnParentDiv">
                              <span id="commentReply___{{i}}__{{j}}_btn" *ngIf="comments.subcoment_count  > 5 && comments.subcoment_count == currentReplyCount && upperlimit1 < currentReplyCount" class="business-show-btn moreReplyBtn displayNone" (click)="load_more_comment_reply(comments.id)">More</span>
                            </div>
                          </div>
                          <div class="header_option">
                            <!-- <a href=""><i class="fa fa-thumbs-up"></i></a> -->
                          </div>
                          <div class="inner_con closeReply displayNone" id="reply_{{i}}_{{j}}" >
                            <div class="reply_form" >
                              <form [formGroup]="commentReplyForm" (ngSubmit)="CommentReply(comments.id,name.id)">
                                <textarea (keypress)="openReplyPost()" formControlName="commentreply" placeholder="Add a reply..."></textarea>
                                
                                <button *ngIf="reply_post == 1" type="submit" (click)="comment_reply_noti(name.user_login_id)" >Reply</button>
                              </form>
                            </div>
                          </div>
                          <!-- inner_con -->
                        </div>
                        <!-- reply_on_comment -->
                      </div>
                    </div>
                    <div class="viewMoreBtn">
                      <span *ngIf="name.comment_count_post > (lowerlimit+5)"  class="viewbt button_style_01" (click)="showmoreComment(name.id)"><span >See more</span></span>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
            <div class="business-show-btn"> <a href="" (click)="loadMore()" *ngIf="getCount > 0">SHOW MORE ({{getCount}})</a></div>
            <!-- /END OF POST WRAPPER/ -->
            <!-- /END OF POST WRAPPER/ -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<form [formGroup]="createPost" (ngSubmit)="onSubmitPost()">
  <div id="postModal" class="createPostModal">
    <div class="modalInner">
      <div class="modalHead">
        
        <a (click)="closeModalFunction()" href="javascript:void(0)" class="closeIcon">X</a>
      </div>
      <div class="modalBody">
        <img class="userProfile ac_c" src="{{media_url}}/uploads/images/{{img}}">
        <!-- SELECT ITEMS -->
        <div class="selectItems">
          <select name="post_privacy" value="select_post_privacy" id="privacy_type" formControlName="privacy">
            <option value="1" selected=""> Public</option>
            <option value="2">Private only</option>
            <option value="3">Connection</option>
          </select>
        </div>
        <!-- SELECT ITEMS -->
        
        <!-- TEXTAREA -->
        <div class="textareaPopup">
         <!--  <textarea formControlName="postName" name="your-message"  class="full-name" aria-invalid="false" id="textMe" placeholder="What's on your mind?"></textarea> -->
         <div mwlTextInputHighlightContainer> 
          <textarea mwlTextInputElement 
          formControlName="postName" 
          class="full-name editableDiv" 
          placeholder="What's on your mind?" 
          #textarea  
          (input)="addTags()" ></textarea> 
          <mwl-text-input-highlight 
          [tags]="tags"
          [textInputElement]="textarea"
          [tagCssClass]="'bg-blue'"
          (tagMouseEnter)="addDarkClass($event.target)"
          (tagMouseLeave)="removeDarkClass($event.target)"
          (tagClick)="tagClicked = $event.tag">
           </mwl-text-input-highlight> 
        </div>
          <div class="imgUploadContainer" >
            <!--*ngIf="showNotification"  -->
            <div *ngIf="hasImage == 1" class="image_scroll"><img src="#" *ngIf="hasImage == 1" id="image_here"></div>
            <img class="thumb-ico" src="assets/images/close.svg" style="" *ngIf="hasImage == 1"   (click)="onCloseClick()" >
            <div *ngIf="hasImage == 1" class="edit_file">
              <input type="file"  name="file[]" (change)="image()" class="file_multi_image thumb-input" accept="image/*" formControlName="postImage" style=""  *ngIf="hasImage == 1"  >
            </div>
            <!-- <img src="assets/images/edit.svg" style="height: 21px;position: absolute;margin: 0;left: 220px;right: 0;background: #ddd;width: 20px; cursor: pointer;" *ngIf="imgURL" (click)="onCloseClick()" > -->
          </div>
          <div class="imgUploadContainer " >
            <img class="thumb-ico" src="assets/images/close.svg"  style="" *ngIf="hasVideo == 1 " (click)="onCloseClick()" >
            <div *ngIf="hasVideo == 1" class="edit_file">
              <input   type="file" accept='video/*' name="file[]" (change)="video()" class="file_multi_video thumb-input"   *ngIf=" hasVideo ==1"  formControlName="postVideo"    name="" style="">
            </div>
            <div class="video_con" *ngIf="hasVideo == 1">
              <video style="width: 621px;" controls  >
                <source src="" id="video_here" >
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>
          <div class="imgUploadContainer" >
            <img class="thumb-ico" src="assets/images/close.svg"  *ngIf="haspdf == 1 " (click)="onCloseClick()" >
            <div *ngIf=" haspdf ==1" class="edit_file">
              <input  type="file"  name="file[]" (change)="pdf()" class="file_multi_pdf thumb-input"
              *ngIf=" haspdf ==1" (change)="pdf()" formControlName="postAttach"    name="">
            </div>
            <iframe id="pdf_here" frameborder="0" scrolling="no" width="400" height="600" controls
            *ngIf="haspdf == 1"></iframe>
            
          </div>
        </div>
        <!-- TEXTAREA -->
        
        <!-- IMG UPLOAD -->
        
        <!-- IMG UPLOAD -->
        
        <!-- ADD ITEMS -->
        <!--  <div class="addItems">
          
          <div class="addtag2">Help the right people see your post</div>
        </div> -->
        <!-- ADD ITEMS  -->
        
        <!-- ATTACH ITEMS -->
        <div class="attachflexWrapper">
          <div class="attachItems" >
            <div class="icoBox" *ngIf="!hasImage == true && !hasVideo == true && !haspdf == true" >
              <!-- || !showNotification" -->
              <ul>
                <li>
                  <!-- <div class="fileUpload"><input   type="file" accept='image/*' (change)="preview(file.files)" formControlName="postImage"    name=""><img src="assets/images/camera.png"></div> -->
                  <div class="fileUpload"><input type="file" name="file[]" (change)="images($event) ; image()" class="file_multi_image" accept="image/*" formControlName="postImage"   name=""><img src="assets/images/camera.png"></div>
                </li>
                <li>
                  <div class="fileUpload videoUpload"><input type="file" name="file[]" (change)="videos($event) ;video()" class="file_multi_video" accept=".HEVC,H.264,.MPEG-4,.m4v,.mov,video/*" formControlName="postVideo"   name=""><img src="assets/images/video.png"></div>
                </li>
              </ul>
            </div>
          </div>
          <div class="post-btn">
            <button class="postBtn" (click)="closeFun()">Post</button>
          </div>
        </div>
        <!-- ATTACH ITEMS -->
      </div>
    </div>
    <div id="postOver" class="postOverlay"></div>
  </div>
</form>
<form [formGroup]="sharePost" (ngSubmit)="onSubmitsharePost()">
  <div id="postModal2" class="createPostModal">
    <div class="modalInner">
      <div class="modalHead">
        
        <a (click)="closeModalFunction()" href="javascript:void(0)" class="closeIcon">X</a>
      </div>
      <div class="modalBody">
        <img class="userProfile ac_c" src="assets/images/user-thumb3.png">
        <!-- SELECT ITEMS -->
        <input type="text" type="hidden" formControlName="parentId" value="{{postUserData.id}}">
        <div class="selectItems" >
          <select name="post_privacy" formControlName="privacy">
            <option value="1" selected=""> Public</option>
            <option value="2">Private only</option>
            <option value="3">Connection</option>
          </select>
        </div>
        <!-- SELECT ITEMS -->
        
        <!-- TEXTAREA -->
        <div class="textareaPopup">
          <textarea  formControlName="postName" name="your-message"  class="full-name" aria-invalid="false" id="textMe" placeholder="Say something about this shared content"></textarea>
          <div class="div2">
            <img class="logoImg acc_2" *ngIf="file_status == false"  src="{{media_url}}/uploads/images/avatar.png">
            <img class="logoImg acc_2" *ngIf="file_status == true"  src="{{media_url}}/uploads/images/{{postUserData.profile_picture}}">
            <div class="title" >
              <p class="userTitle">{{postUserData.pro_name}}</p>
              <p class="subHead"></p>
            </div>
            <div class="postContent">
              <p class="postPara">{{postUserData.post}}</p>
              <div class="postImg" *ngIf="postUserData.type == 1 && postUserData.picname != '' && postUserData.media_id != '' " > <img src="{{media_url}}/createpost/images/{{postUserData.picname}}" >
              </div>
              <div *ngIf="postUserData.type == 2 && postUserData.picname != '' && postUserData.media_id != '' ">
                <video width="100%" height="240" controls>
                  <source src="{{media_url}}/createpost/video/{{postUserData.picname}}" type="video/mp4">
                </video>
              </div>
              <div *ngIf="postUserData.type == 3 && postUserData.picname != '' && postUserData.media_id != '' ">
                Document
              </div>
            </div>
          </div>
        </div>
        
        <div class="attachflexWrapper">
          
          <div class="post-btn">
            <button class="postBtn" (click)="closeFun()">Post</button>
          </div>
        </div>
        <!-- ATTACH ITEMS -->
      </div>
    </div>
    <div id="postOver" class="postOverlay"></div>
  </div>
</form>
<div id="postModal_Report" class="createPostModal">
  <div class="modalInner">
    <div class="modalHead">
      <p style="text-align: center;padding-top: 10px;color: white;margin: 0;">Report And Abuse</p>
      <a  style="position: absolute;top: 0;z-index: 1;right: 11px;" (click)="closeModalFunction()" href="javascript:void(0)" class="closeIcon">X</a>
    </div>
    <div class="modalBody">
      <p>Please share the reason for report & abuse. </p>
      <form [formGroup]="report_comment" (ngSubmit)="report_comment_sub()">
        <textarea  class="full-name" aria-invalid="false" formControlName="report_comment" >write here</textarea>
        <button class="postBtn" type="submit">Report</button>
      </form>
    </div>
  </div>
  <div id="postOver" class="postOverlay"></div>
</div>
<style type="text/css">
.ac_c {height: 50px; border-radius: 50px; width: 50px; border: 2px solid #0473ae; }
.acc_2{height: 50px; border-radius: 50px; width: 50px; border: 2px solid #0473ae;float: left; }
.swal2-popup{width: 100% !important;}
.displayNone{display: none;}
</style>