<app-profileheader></app-profileheader>
<div class="PolicytopHeader">
  <div class="innerWrap">
    <h3>USER AGREEMENT</h3>
  </div>
</div>

<section class="policySection">
  <div class="innerWrap">
    <div class="wrap">
      <div class="row">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 privacycontentBox">
        	<div [innerHtml]="set_user_aggrement"></div>
    	</div> -->
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 privacycontentBox">
          <div class="policyBox">
            
            <p>Our mission is to connect the world’s professionals to allow them to be more productive and successful. Our services are designed to promote economic opportunity for our members by enabling you and millions of other professionals to meet, exchange ideas, learn, and find opportunities or employees, work, and make decisions in a network of trusted relationships.</p>
            
          </div>
          <!-- /END OF POLICY BOX/ -->
          <div #box1 id="box1" class="policyBox">
            <h4>Introduction</h4>
            <p>You agree that by clicking “Join Now”, “Join  Qualify ED”, “Sign Up” or similar, registering, accessing or using our services (described below), you are agreeing to enter into a legally binding contract with Qualify ED.</p>
            <p class="smallHead">Services</p>
            <p>This Contract applies to  Qualify ED.com,  Qualify ED-branded apps, Slideshare,  Qualify ED Learning and other  Qualify ED-related sites, apps, communications and other services that state that they are offered under this Contract</p>

            <p class="smallHead"> Qualify ED </p>
            <p>We use the term “Designated Countries” to refer to countries in the European Union (EU), European Economic Area (EEA), and Switzerland.</p>
            <p>If you reside in the “Designated Countries”, you are entering into this Contract with LinkedIn Ireland Unlimited Company (“LinkedIn Ireland”) and LinkedIn Ireland will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services.</p>
            <p>As a Visitor or Member of our Services, the collection, use and sharing of your personal data is subject to this Privacy Policy (which includes our Cookie Policy and other documents referenced in this Privacy Policy) and updates.</p>
          </div>
          <!-- /END OF BOX 1/ -->
          <div id="box2" #box2 class="policyBox">
            <h4>2 Obligations</h4>
            <p>To use the Services, you agree that: (1) you must be the “Minimum Age” (described below) or older; (2) you will only have one LinkedIn account (and/or one SlideShare account, if applicable), which must be in your real name; and (3) you are not already restricted by LinkedIn from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 16.</p>
            <p class="smallHead">2.1 Your Account</p>
            <p>Members are account holders. You agree to: (1) try to choose a strong and secure password; (2) keep your password secure and confidential; (3) not transfer any part of your account (e.g., connections) and (4) follow the law and our list of Dos and Don’ts and Professional Community Policies. You are responsible for anything that happens through your account unless you close it or report misuse.</p>
           
            <p class="smallHead">2.2 Payment</p>
            <p>If you buy any of our paid Services (“Premium Services”), you agree to pay us the applicable fees and taxes and to additional terms specific to the paid Services. Failure to pay these fees will result in the termination of your paid Services. Also, you agree that:</p>
            
            <p class="smallHead">2.3 Notices and Messages</p>
            <p>Our Services allow messaging and sharing of information in many ways, such as your profile, slide decks, links to news articles, job postings, InMails and blogs. Information and content that you share or post may be seen by other Members, Visitors or others (including off of the Services).</p>
          </div>
          <!-- /END OF BOX2/ -->
          <div id="box3" #box3 class="policyBox">
            <h4>3. Rights and Limits</h4>
            <p class="smallHead">3.1. Your License to LinkedIn</p>
            <p>YAs between you and LinkedIn, you own the content and information that you submit or post to the Services, and you are only granting LinkedIn and our affiliates the following non-exclusive license:</p>

            <p class="smallHead">3.2 Service Availability</p>
            <p>We may change or discontinue any of our Services. We don’t promise to store or keep showing any information and content that you’ve posted. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our Privacy Policy.</p>
          </div>
          <!-- /END OF BOX3/ -->
          <div id="box4" #box4 class="policyBox">
            <h4>4. Disclaimer and Limit of Liability</h4>
             <p class="smallHead">4.1 No Warranty</p>
             <p>To the extent allowed under law, linkedin and its affiliates (and those that linkedin works with to provide the services) (a) disclaim all implied warranties and representations (e.g. warranties of merchantability, fitness for a particular purpose, accuracy of data, and noninfringement); (b) do not guarantee that the services will function without interruption or errors, and (c) provide the service (including content and information) on an “as is” and “as available” basis</p>

             <p class="smallHead">4.2 Exclusion of Liability</p>

             <p>To the extent permitted under law (and unless linkedin has entered into a separate written agreement that overrides this contract), linkedin and its affiliates (and those that linkedin works with to provide the services) shall not be liable to you or others for any indirect, incidental, special, consequential or punitive damages, or any loss of data, opportunities, reputation, profits or revenues, related to the services (e.g. offensive or defamatory statements, down time or loss, use of, or changes to, your information or content).</p>
             
             <p>This limitation of liability is part of the basis of the bargain between you and linkedin and shall apply to all claims of liability (e.g. warranty, tort, negligence, contract, law) and even if linkedin or its affiliates has been told of the possibility of any such damage, and even if these remedies fail their essential purpose.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 menuSide">
          <div class="privacyMenu">
            <ul>
              <li><a (click)="scrollToElement(box1)">Introduction</a></li>
              <li><a (click)="scrollToElement(box2)">Obligations</a></li>
              <li><a (click)="scrollToElement(box3)">Rights and Limits</a></li>
              <li><a (click)="scrollToElement(box4)">Disclaimer and Limit of Liability</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>