<div id="cover-spin" *ngIf="showLoader == true"></div>
<body class="innerBg">
    <section class="reset-password">
      <div class="innerWrap">
         <div class="wrap">
           <div class="row">
             <div class="itemBlog">
                <div class="logoBlog">
                  <a routerLink="/"><img src="assets/images/logo.png"></a>
                 </div>  
                <h3>Reset your Password</h3>
              <form [formGroup] = "codeForm" (ngSubmit)=onSubmit()>
                <div class="floating-form">
                       
                           <div class="form-group resetPassBtn">
                             <input type="text" formControlName="code" class="form-control" maxlength="6" [ngClass]="{ 'is-invalid': submitted && f.code.errors }">
                             <label class="form-control-placeholder" for="password">RESET CODE</label>
                       
                               <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                         <div *ngIf="f.code.errors.required">Confirm Password is required</div>

                                       <div *ngIf="f.code.errors.maxlength">Code Should Be 6 digit Long</div>
                                 </div>
                             </div>

                          <!--END OF FORM-GROUP -->
                         <div class="reset-btn">
                              <a class="">  
                                 <span>
                                    <button type="submit" class="btnBlog"> Reset Password
                                   </button>
                                 </span>
                              </a>
                         </div>
                  </div>
                </form>
               </div>
             <!--END OF ITEMBLOG --> 
            </div>
          <!--END OF ROW -->
         </div>
        <!--END OF WRAP -->
         <div class="bg-student">
            <img class="" src="assets/images/login-user-mg.png">
        </div>
      </div> 
       <!--END OF INNERWRAP -->
     </section>
    <!--END OF SECTION -->
</body>
