<!-- <div id="message">{{email}} by {{userid}} <a routerLink="/logout" class="button">Logout</a></div> -->

<app-profileheader></app-profileheader>


 <section class="headingBlog">
      <div class="innerWrap">
        <p>Profile Views</p>
      </div>
      <!--END OF INNERWRAP -->
  </section>
   <!--END OF HEADINGBLOG -->

    <section class="profile-viewSection">
        <div class="innerWrap">
           <div class="wrap">
              <div class="row">
                 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg1.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Leila Norris</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>UX Designer</p>
                             </div>
                             <span>
                                <p>Today</p>
                                <div class="lineBlog"></div>
                             </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                             </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                 <!--END OF COL-LG-01 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg2.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Jeremy Adams</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>Managing Partner</p>
                             </div>
                             <span><p>Yesterday</p><div class="lineBlog"></div>
                             </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                <!--END OF COL-LG-02 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg3.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>John Hill</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>CEO & Co-Founder</p>
                             </div>
                             <span><p>1 Week</p><div class="lineBlog"></div>
                             </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                 <!--END OF COL-LG-03 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg4.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Kelly Lees</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>Global Director</p>
                             </div>
                             <span><p>2 Week</p><div class="lineBlog"></div>
                             </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                <!--END OF COL-LG-04 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg5.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Allison Atack</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>UX Designer</p>
                             </div>
                               <span>
                                <p>Today</p>
                                <div class="lineBlog"></div>
                               </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                <!--END OF COL-LG-05 -->
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg6.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Julia Heath</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>Managing Partner</p>
                             </div>
                               <span>
                                <p>Yesterday</p>
                                <div class="lineBlog"></div>
                               </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                <!--END OF COL-LG-06 -->
                 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg7.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>John Hill</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>CEO & Co-Founder</p>
                             </div>
                               <span>
                                <p>1 week</p>
                                <div class="lineBlog"></div>
                               </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
              <!--END OF COL-LG-07 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg2.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Julia Heath</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>Global Director</p>
                             </div>
                               <span>
                                <p>2 week</p>
                                <div class="lineBlog"></div>
                               </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                </div>
              <!--END OF COL-LG-08 -->
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg1.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Leila Norris</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>UX Designer</p>
                             </div>
                               <span>
                                <p>Today</p>
                                <div class="lineBlog"></div>
                               </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                 <!--END OF COL-LG-09 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg2.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Jeremy Adams</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>Managing Partner</p>
                             </div>
                             <span><p>Yesterday</p><div class="lineBlog"></div>
                             </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                <!--END OF COL-LG-10 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg3.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>John Hill</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>CEO & Co-Founder</p>
                             </div>
                             <span><p>1 Week</p><div class="lineBlog"></div>
                             </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                <!--END OF COL-LG-11 -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 studiesBlog">
                    <div class="profileBlog">
                        <div class="profile-innerBlog">
                            <div class="imgBlog">
                                <img src="assets/images/profile-mg4.png">
                            </div>
                            <div class="studiesBlog">
                               <h3>Kelly Lees</h3>
                               <p>BA, Economics, East Asian Studies</p>
                               <p>Global Director</p>
                             </div>
                             <span><p>2 Week</p><div class="lineBlog"></div>
                             </span>
                             <div class="connectBtn">
                                  <div class="msgeff"></div>
                                  <a href="#" class="connect-btn">Connect</a>
                            </div>
                            <!--END OF connectBtn -->
                        </div>
                        <!--END OF PROFILE-INNERBLOG -->
                    </div>
                    <!--END OF PROFILEBLOG -->
                 </div>
                <!--END OF COL-LG-12 -->
                <div class="profilesBtn">
                   <div class="next-btn">
                      <a href="#" class="see-moreBtn">  
                            <span>
                                See More Profiles <i class="fa fa-angle-down" aria-hidden="true"></i>
                             </span>
                      </a>
                   </div>
                </div>
              <!--END OF SENDBTN -->

              </div>
            <!--END OF WRAP -->
           </div>
          <!--END OF WRAP -->
        </div>
        <!--END OF INNERWRAP -->
      </section>
    <!--END OF RESULTSECTION -->