<app-profileheader></app-profileheader>
<div class="PolicytopHeader">
  <div class="innerWrap">
    <h3>Privacy Policy</h3>
  </div>
</div>

<section class="policySection">
  <div class="innerWrap">
    <div class="wrap">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 privacycontentBox">
          <div class="policyBox">
            <h4>Your Privacy Matters</h4>
            <p>Qualify ED mission is to connect the world’s professionals to allow them to be more productive and successful. Central to this mission is our commitment to be transparent about the data we collect about you, how it is used and with whom it is shared.</p>
            <p>This Privacy Policy applies when you use our Services (described below). We offer our users choices about the data we collect, use and share as described in this Privacy Policy.</p>
          </div>
          <!-- /END OF POLICY BOX/ -->
          <div #box1 class="policyBox">
            <h4>Introduction</h4>
            <p>Our registered users share their professional identities, engage with their network, exchange knowledge and professional insights, post and view relevant content, learn and find business and career opportunities. Content and data on some of our Services is viewable to non-members .</p>
            <p class="smallHead">Services</p>
            <p>This Privacy Policy applies  to Qualify ED and Qualify branded apps. Apply with Qualify ED and “Share with Qualify ED plugins, but excluding services that state that they are offered under a different privacy policy.</p>

            <p class="smallHead">User Agreement </p>
            <p>If you reside in the “Designated Countries”: Qualify ED Ireland Unlimited Company (Qualify ED) will be the controller of your personal data provided to, or collected by or for, or processed in connection with our Services; you are entering into the User Agreement with Qualify ED </p>
            <p> you reside outside of the Designated Countries: Qualify ED Corporation will be the controller of your personal data provided to, or collected by or for, or processed in connection with, our Services; you are entering into the User Agreement with Qualify ED Corporation.</p>
          </div>
          <!-- /END OF BOX 1/ -->
          <div #box2 class="policyBox">
            <h4>2 How We Use Your Data</h4>
            <p>How we use your personal data will depend on which Services you use, how you use those Services and the choices you make in your settings. We use the data that we have about you to provide and personalize, including with the help of automated systems and inferences we make, our Services (including ads) so that they can be more relevant and useful to you and others.</p>
            <p class="smallHead">2.1 Services </p>
            <p>Our Services allow you to stay in touch and up to date with colleagues, partners, clients, and other professional contacts. To do so, you will “connect” with the professionals who you choose, and who also wish to “connect” with you. Subject to your settings, when you connect with other Members, you will be able to search each others’ connections in order to exchange professional opportunities.</p>
            <p><b>Career</b></p>
            <p>Our Services allow you to explore careers, evaluate educational opportunities, and seek out, and be found for, career opportunities. Your profile can be found by those looking to hire (for a job or a specific task) or be hired by you. We will use your data to recommend jobs or mentees, show you and others who work at a company, in an industry, function or location or have certain skills and connections.</p>
            <p>You can signal that you are interested in changing jobs and share information with job recruiters. We will use your data to recommend jobs to you and you to recruiters. We may use automated systems to profile and provide recommendations to help make our Services more relevant to our Members, Visitors and customers. Keeping your profile accurate and up-to-date may help you better connect to others and to opportunities through our Services.</p>
            <p class="smallHead">2.2 Advertising</p>
            <p>We target (and measure the performance of) ads to Members, Visitors and others both on and off our Services directly or through a variety of partners, using the following data, whether separately or combined</p>
            <p><b>Ad Choices</b></p>
            <p>We adhere to self-regulatory principles for interest-based advertising and participate in industry opt-outs from such ads. This does not opt you out of receiving advertising; you will continue to get other ads by advertisers not listed with these self regulatory tools. You can also opt-out specifically from our uses of certain categories of data to show you more relevant ads.</p>
            <p class="smallHead">2.3 Marketing</p>
            <p>We use data and content about Members for invitations and communications promoting membership and network growth, engagement and our Services.</p>
          </div>
          <!-- /END OF BOX2/ -->
          <div #box3 class="policyBox">
            <h4>3. How We Share Information</h4>
            <p class="smallHead">3.1 Our Services</p>
            <p>Your profile is fully visible to all Members and customers of our Services. Subject to your settings, it can also be visible to others on or off of our Services (e.g., Visitors to our Services or users of third- party search engines). As detailed in our Help Center, your settings, degree of connection with the viewing Member, the subscriptions they may have, their usage of our Services, access channels and search types (e.g., by name or by keyword) impact the availability of your profile and whether they can view certain fields in your profile.</p>
            <p><b>Enterprise Accounts</b></p>
            <p>Your employer may offer you access to our enterprise Services such as Recruiter, Sales Navigator, Qualify ED Learning or our advertising Campaign Manager. Your employer can review and manage your use of such enterprise Services.</p>
            <p class="smallHead">3.2 Communication Archival</p>
            <p>Some Members (or their employers) need, for legal or professional compliance, to archive their communications and social media activity, and will use services of others to provide these archival services. We enable archiving of messages by those Members outside of our Services. For example, a financial advisor needs to archive communications with her clients through our Services in order to maintain her professional financial advisor license.</p>
          </div>
          <!-- /END OF BOX3/ -->
          <div #box4 class="policyBox">
            <h4>4. Your Choices & Obligations</h4>
             <p class="smallHead">4.1 Data Retention</p>
             <p>We retain your personal data while your account is in existence or as needed to provide you Services. This includes data you or others provided to us and data generated or inferred from your use of our Services. Even if you only use our Services when looking for a new job every few years, we will retain your information and keep your profile open until you decide to close your account.</p>
             <p class="smallHead">4.2 Rights to Access and Control Your Personal Data</p>
             <p>We provide many choices about the collection, use and sharing of your data, from deleting or correcting data you include in your profile and controlling the visibility of your posts to advertising opt-outs and communication controls. We offer you settings to control and manage the personal data we have about you (for SlideShare, please contact us).</p>
             <p class="smallHead">4.3 Account Closure</p>
             <p>If you choose to close your Qualify ED (or SlideShare) account, your personal data will generally stop being visible to others on our Services within 24 hours. We generally delete closed account information within 30 days of account closure, except as noted below.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 menuSide">
          <div class="privacyMenu">
            <ul>
              <li (click)="scrollToElement(box1)">Introduction</li>
              <li (click)="scrollToElement(box2)">How We Use Your Data</li>
              <li (click)="scrollToElement(box3)">How We Share Information</li>
              <li (click)="scrollToElement(box4)">Your Choices & Obligations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>