.headerSitewide .innerblock .header-menu .wrap .navBar ul li a{font-weight: 600;}
.userProfile-Container .workSection .working_days .profileTime{font-weight: bold !important;}
/*.userProfile-Container .innerWrap .icoBox ul{width: 33%;}*/
.userProfile-Container .contentWrap .working_days{padding-bottom: 7px;}
